<div class="landing-container">
    <!-- Left Side: Image -->
    <div class="image-section">
      <img src="http://cdn.mcauto-images-production.sendgrid.net/a77f6d030f8ccd8b/96947115-598b-466c-b134-49f93f3d15db/2316x2895.JPG" alt="Margot and Sebastien" class="wedding-photo" />
    </div>
  
    <!-- Right Side: Text Content -->
    <div class="text-section">
        <div class="celebration-text">
            <p>4 204 800 secondes</p>
            <p>2 920 jours</p>
            <p>417 semaines</p>
            <p>96 mois</p>
            <p>8 ans</p>
            <p>Pour arriver à <strong>CE</strong> moment</p>
        </div>
        <h1>Margot & Sebastien</h1>
        <p class="wedding-date">Le Mardi 14 Janvier 2025</p>
        <p class="wedding-address">
            Mairie Annexe de Sainte-Suzanne<br />
            &<br />
            15 bis Impasse Corbeille d’Or, Sainte-Suzanne
        </p>
        <p class="wedding-location">Île de La Réunion</p>
        <p class="countdown">{{ countdown.days }} JOURS {{ countdown.hours }} H {{ countdown.minutes }} M {{countdown.seconds}}S</p>
        <button class="rsvp-button" (click)="toggleRsvpForm()">RSVP</button>
        @if(showRsvpForm){
            <div class="rsvp-form">
                <input type="text" placeholder="Entrez votre code d'invitation" [(ngModel)]="inviteCode" class="invite-input"/>
                <div class="confirmation-options">
                    <label>
                        <input type="radio" name="confirmation" value="Yes" [(ngModel)]="confirmation"/> Oui
                    </label>
                    <label>
                        <input type="radio" name="confirmation" value="No" [(ngModel)]="confirmation"/> Non
                    </label>
                </div>
                <button class="submit-button" (click)="confirmInvitation({inviteCode, confirmation})" [disabled]="!inviteCode || !confirmation"> Confirmer</button>
            </div>
        }
    </div>
</div>
  